#main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 15px;
    border: 2px solid #ccc;
}

#main div {
    text-align: center;
    padding: 20px 0;
    margin: 10px;
    border: 2px solid #ccc;
}

#main div img {
    width: 215px;
    height: 200px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

.floating-add-button {
    position: fixed;
    bottom: 25px;    
    right: 30px;     
    background-color: #007bff; 
    color: white;           
    border: 2px solid #ccc;
    width: 60px;      
    height: 60px;      
    font-size: 24px;      
    cursor: pointer;        
    display: flex;
    align-items: center;
    justify-content: center;
}
.floating-del-button {
    position: fixed; 
    bottom: 25px;    
    right: 100px;    
    background-color:tomato; 
    color: white;             
    border: 2px solid #ccc;        
    width: 60px;           
    height: 60px;           
    font-size: 24px;        
    cursor: pointer;         
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-del-button:hover {
    background-color: firebrick; /* Cambia el color al pasar el mouse */
}

.floating-add-button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse */
}